---
import BaseLayout from "../layouts/BaseLayout.astro";
import Form from "../components/Form.svelte";
import { Image } from "astro:assets";
import auditsSvg from "../images/audits.svg";
import redesignSvg from "../images/redesign.svg";
import bulpSvg from "../images/bulb.svg";
import rulerSvg from "../images/ruler.svg";
import rocketSvg from "../images/rocket.svg";
import planeSvg from "../images/plane.svg";
---

<BaseLayout>
	<section class="hero">
		<picture>
			<Image
				src="https://res.cloudinary.com/fridlin/image/upload/v1720972086/DalBit%20Website/seoul_ofjnlv.jpg"
				alt="Panoramablick auf die beleuchtete Skyline von Seoul bei Nacht mit dem N Seoul Tower auf dem Namsan-Berg im Hintergrund."
				width={4716}
				height={2653}
				loading="eager"
				decoding="async"
			/>
		</picture>
		<div data-theme="dark" class="hero-content container">
			<h1>
				Erreichen Sie digitale Barrierefreiheit mit DalBit Solutions
			</h1>
			<p>
				Wir bieten umfassende Audits und Designüberarbeitungen, um Ihre
				Website für alle zugänglich zu machen.
			</p>
			<a href="/#ihre-anfrage" role="button">Kontaktieren Sie uns</a>
		</div>
	</section>
	<section id="leistungen" class="container">
		<h2>Unsere Leistungen</h2>
		<div class="grid">
			<article>
				<img src={auditsSvg.src} alt="" />
				<h3>Barrierefreiheits-Audits</h3>
				<p>
					Unser erfahrenes Team führt detaillierte Audits durch, um
					alle Aspekte der digitalen Barrierefreiheit Ihrer Website zu
					analysieren und zu bewerten.
				</p>
			</article>

			<article>
				<img src={redesignSvg.src} alt="" />
				<h3>Designüberarbeitungen</h3>
				<p>
					Wir passen das bestehende Design Ihrer Website an, um
					sicherzustellen, dass es allen Nutzern zugänglich ist, ohne
					das ursprüngliche Branding zu verlieren.
				</p>
			</article>
		</div>
	</section>
	<section id="ueber-uns" class="container">
		<h2>Warum DalBit Solutions?</h2>
		<div class="grid">
			<div>
				<img src={bulpSvg.src} alt="" />
				<h3>Expertenwissen und Erfahrung</h3>
				<p>
					Mit jahrelanger Erfahrung und tiefgreifendem Wissen im
					Bereich der digitalen Barrierefreiheit sind wir Ihr
					zuverlässiger Partner für barrierefreie Weblösungen.
				</p>
			</div>

			<div>
				<img src={rulerSvg.src} alt="" />
				<h3>Maßgeschneiderte Lösungen</h3>
				<p>
					Unsere Dienstleistungen werden individuell auf die
					Bedürfnisse Ihres Unternehmens und Ihrer Zielgruppe
					zugeschnitten, um optimale Ergebnisse zu erzielen.
				</p>
			</div>

			<div>
				<img src={rocketSvg.src} alt="" />
				<h3>Nachhaltige Implementierung</h3>
				<p>
					Wir setzen nachhaltige und zukunftssichere Lösungen um, die
					nicht nur aktuellen Standards entsprechen, sondern auch
					zukünftigen Anforderungen gerecht werden.
				</p>
			</div>
		</div>
	</section>
	<section id="ihre-anfrage" class="container">
		<h2>Kontaktieren Sie DalBit Solutions</h2>
		<div class="grid">
			<div>
				<h3>Wir freuen uns von Ihnen zu hören!</h3>
				<p>
					Haben Sie Fragen an uns oder möchten Sie eine unserer
					Dienstleistungen in Anspruch nehmen? Nutzen Sie gerne unser
					Kontaktformular, um uns Ihr Anliegen mitzuteilen. Wir werden
					uns so schnell wie möglich bei Ihnen melden, um Ihre
					Bedürfnisse zu besprechen und Ihnen weiterzuhelfen.
				</p>
				<img
					src={planeSvg.src}
					alt=""
					class="display-none display-inline-large"
				/>
			</div>

			<article>
				<Form name="Neukunden" client:visible>
					<h3 slot="legend">Schreiben Sie uns</h3>
					<label for="input-email">E-Mail-Adresse</label>
					<input
						id="input-email"
						type="email"
						name="email"
						autocomplete="email"
						required
					/>
					<div class="grid">
						<div>
							<label for="input-firstname">Vorname</label>
							<input
								id="input-firstname"
								type="text"
								name="firstname"
								autocomplete="given-name"
								required
							/>
						</div>
						<div>
							<label for="input-lastname">Nachname</label>
							<input
								id="input-lastname"
								type="text"
								name="lastname"
								autocomplete="family-name"
								required
							/>
						</div>
					</div>
					<label for="input-message">Nachricht (optional)</label>
					<textarea
						id="input-message"
						name="message"></textarea>
					<p>
						Unsere Datenschutzhinweise können Sie <a
							href="/datenschutz">hier</a
						> einsehen.
					</p>
				</Form>
			</article>
		</div>
	</section>
</BaseLayout>

<style>
	.hero {
		overflow: hidden;
		position: relative;
	}

	.hero > picture {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.hero > picture > img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}

	.hero > picture::after {
		background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.2)
		);
		content: " ";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.hero > .hero-content {
		padding-bottom: 7rem;
		padding-top: 7rem;
		position: relative;
		z-index: 1;
	}

	@media screen and (min-width: 768px) {
		.hero > .hero-content > * {
			max-width: 50%;
		}
	}
</style>
